<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorA</servlet-name>
        <servlet-class>controlador.ControladorA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControl</servlet-name>
        <servlet-class>controlador.CategoriaControl</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>PresentacionControl</servlet-name>
        <servlet-class>controlador.PresentacionControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorA</servlet-name>
        <url-pattern>/ControladorA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControl</servlet-name>
        <url-pattern>/CategoriaControl</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>PresentacionControl</servlet-name>
        <url-pattern>/PresentacionControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
