<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorA</servlet-name>
        <servlet-class>controlador.ControladorA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControl</servlet-name>
        <servlet-class>controlador.CategoriaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PresentacionControl</servlet-name>
        <servlet-class>controlador.PresentacionControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TemperaturaControl</servlet-name>
        <servlet-class>controlador.TemperaturaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarcaControl</servlet-name>
        <servlet-class>controlador.MarcaControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiesgoControl</servlet-name>
        <servlet-class>controlador.RiesgoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ElementoControl</servlet-name>
        <servlet-class>controlador.ElementoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsumoControl</servlet-name>
        <servlet-class>controlador.InsumoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultorioControl</servlet-name>
        <servlet-class>controlador.ConsultorioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcedimientoControl</servlet-name>
        <servlet-class>controlador.ProcedimientoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoDocumentoControl</servlet-name>
        <servlet-class>controlador.TipoDocumentoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProveedorControl</servlet-name>
        <servlet-class>controlador.ProveedorControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntradaInsumoControl</servlet-name>
        <servlet-class>controlador.EntradaInsumoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalidaInsumoControl</servlet-name>
        <servlet-class>controlador.SalidaInsumoControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorA</servlet-name>
        <url-pattern>/ControladorA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControl</servlet-name>
        <url-pattern>/CategoriaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PresentacionControl</servlet-name>
        <url-pattern>/PresentacionControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TemperaturaControl</servlet-name>
        <url-pattern>/TemperaturaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarcaControl</servlet-name>
        <url-pattern>/MarcaControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiesgoControl</servlet-name>
        <url-pattern>/RiesgoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ElementoControl</servlet-name>
        <url-pattern>/ElementoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsumoControl</servlet-name>
        <url-pattern>/InsumoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultorioControl</servlet-name>
        <url-pattern>/ConsultorioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcedimientoControl</servlet-name>
        <url-pattern>/ProcedimientoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoDocumentoControl</servlet-name>
        <url-pattern>/TipoDocumentoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProveedorControl</servlet-name>
        <url-pattern>/ProveedorControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntradaInsumoControl</servlet-name>
        <url-pattern>/EntradaInsumoControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalidaInsumoControl</servlet-name>
        <url-pattern>/SalidaInsumoControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
